.timer-container {
    position: relative;
    font-weight: 800;
    height: 97vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    .timer-top {
        .timer-container-puzzle-label {
            font-size: 22px;
            color: #ee6c4d;
            margin: 0;
            margin-top: 20px;
        }
        .timer-container-scramble {
            font-size: 28px;
            margin: 0 auto;
            max-width: 55vw;
            width: 100%;
        }
    }
    .timer-container-center {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        .time {
            font-size: 100px;
            margin: 0;
        }
        .timers-avg {
            .ao5,
            .ao12 {
                font-size: 28px;
                margin: 0;
            }
        }
    }
    .timer-container-opponet {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        .opponet-time {
            .opponet-nickname,
            .opponet-time {
                font-size: 24px;
                color: #ee6c4d;
                margin: 0;
            }
        }
        .opponet-avg {
            margin-top: 20px;
            .opponet-ao5,
            .opponet-ao12 {
                font-weight: 500;
                font-size: 18px;
                color: #ee6c4d;
                margin: 0;
            }
        }
    }
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    //background-color: #181818;
    width: 200px;
    height: 100%;
    padding: 15px;
    font-weight: 500;
    height: 85vh;
    overflow-y: scroll;
    z-index: 999;

    &::-webkit-scrollbar {
        width: 5px;
        background-color: transparent;
      }
    .sidebar-round {
        width: 100%;
        background-color: #443e3e;
        color: #181818;
        font-size: 18px;
        text-align: left;
        height: 36px;
        margin: 10px 0;
        display: flex;
        align-items: center;
        p {
            margin-left: 8px;
        }
    }
    .sidebar-player-row {
        display: flex;
        justify-content: space-between;
        padding: 0 5px;
        .sidebar-player-nickname,
        .sidebar-player-time {
            margin: 2px 0;
        }
    }
}

.sidebar-buttons-container {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 200px;
    padding: 0 5px;
    .sidebar-buttons {
        .sidebar-buttons-top {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            button {
                width: 30%;
                height: 60px;
                background-color: #ee6c4d;
                outline: none;
                border: none;
                margin: 0 3px;
                transition: 100ms all ease;

                &:hover {
                    background-color: #293241 !important;
                }
                img {
                    height: 29px;
                    width: 29px;
                }
            }
        }
        .leave-room-btn {
            background-color: transparent;
            border: none;
            outline: none;
            color: #ee6c4d;
            font-size: 16px;
            padding: 20px 0;
            width: 100%;
            margin: 5px 0;
            transition: 100ms all ease;

            &:hover {
                background-color: #293241;
            }
        }
    }
}


@media only screen and (max-width: 768px) {
    .sidebar{
        display: none;
        width: 240px;
        background-color: #181818;
    }
}

@media only screen and (max-width: 576px) {
    .timer-container{
        padding: 0 20px;
    }
    .timer-container-scramble{
        font-size: 24px !important;
    }
    .timer-container-opponet{
        top:70% !important;
    }
    .sidebar{
        width: 100% !important;
    }
    .sidebar-buttons-container{
        width: 100%;
        padding: 0 20vw;
    }
    .time{
        font-size: 80px !important;
    }
    .ao5, .ao12{
        font-size: 24px !important;
    }
  }