.App {
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  padding-bottom: 10px;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.top-notif {
  background-color: #ee6c4d;
  color: rgba(0, 0, 0, 0.758);
  position: absolute;
  padding: 3px 0;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999999999999999999999;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
}
